body {
  background-color: #B3B3B3;
}

.btn {
  margin-top: 28px;
  margin-bottom: 50px ;
}

.btn:hover {
  background-color: blue;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: #B3B3B3;
}

h6 {
  color: #B3B3B3;
  font-size: 1em;
}

.cardSize {
  margin-top: -0.19em;
  font-size: 50vh;
}

#header {
  background-color: #222;
  height: 12vh;
  width: 100%;
}

#subheader {
  background-color: #222;
  height: 12vh;
  width: 100%;
}

#footer {
  position: absolute;
  height: 18vh;
  width: 100%;
  bottom: 0;
  background-image: url("http://www.clker.com/cliparts/8/0/9/c/1209672947171792310StefanvonHalenbach_USS-Mertz.svg.med.png")
}
